<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      display: flex;
    }

    #login {
      display: none;
    }

    .body-item {
      flex: 0 0 auto;
    }

    .repo-menuitem {
      cursor: pointer;
    }

    .repo-menuitem.active {
      background-color: #cccccc;
    }

    .repo-menuitem:hover {
      background-color: #aaaaaa;
    }

    code {
      margin: 8px 0;
      display: block;
      white-space: pre;
    }
  </style>
</head>

<body>
  <a id='login' href='<%= API_URL %>/auth' target='_blank'>Login</a>
  <div class='body-item' id='repos'></div>
  <div class='body-item'>
    <div id='repo'></div>
    <div id='auth'></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var $login = $('#login')
    axios.defaults.baseURL = '<%= API_URL %>'
    if (localStorage.getItem('authorization')) {
      setupAuth(localStorage.getItem('authorization'))
      axios.post('/auth')
        .then(loadRepos)
        .catch(() => $login.show())
    } else {
      $login.show()
    }

    window.addEventListener("message", function (evt) {
      if (evt.data.authorization) {
        evt.source && evt.source.close()
        setupAuth(evt.data.authorization)
        $login.hide()
        loadRepos()
      }
    })

    function setupAuth(token) {
      axios.defaults.headers.common['Authorization'] = 'Bearer ' + token
      localStorage.setItem('authorization', token)
    }

    function signOut() {
      delete axios.defaults.headers.common['Authorization']
      localStorage.removeItem('authorization')
      $login.show()
    }

    var $repos = $('#repos')
    $repos.click('.repo-menuitem', function (evt) {
      var $repoMenuitem = $(evt.target)
      $('.repo-menuitem').removeClass('active')
      $repoMenuitem.addClass('active')
      selectRepo($repoMenuitem.text())
    })
    function loadRepos() {
      axios.get('/user/repo/github')
        .then(function (response) {
          $repos.empty()
          response.data.data.forEach(function (repo) {
            $('<div class="repo-menuitem"></div>')
              .text(repo.name)
              .appendTo($repos)
          })
        })
    }

    var $repo = $('#repo')
    function selectRepo(name) {
      $repo.empty()
      $auth.empty()
      axios.get('/user/repo/github/' + name)
        .then(function (response) {
          var repo = response.data.data
          $('<h2></h2>')
            .text(repo.name)
            .appendTo($repo)

          $('<button>CREATE AUTH</button>')
            .click(function () { generateAuth(repo.name) })
            .appendTo($repo)
        })
    }

    var SAMPLE_REQUEST = `{
  "authorization": "$auth",
  "data": {
    "ref": "[sha]",
    "name": "[branch]",
    "ranAt": "[ISO date]",
    "env": {
      "source": "<travis | circle>",
      "info": "[exec env]"
    },
    "tests": [
      { "name": "[test name]", "value": [number] },
      { "name": "[test name]", "value": [number] }
    ]
  }
}`

    var $auth = $('#auth')
    function generateAuth(name) {
      $auth.empty()
      axios.post('/user/repo/github/' + name + '/auth')
        .then(function (response) {
          var data = response.data.data
          $('<h3>Sample request</h3>')
            .appendTo($auth)

          $('<code/>')
            .text(data.method + ' ' + data.url)
            .appendTo($auth)

          $('<code/>')
            .text(SAMPLE_REQUEST.replace('$auth', data.authorization))
            .appendTo($auth)
        })
    }
  </script>
</body>

</html>
